
.introduction{
    background-color: #fff0ed;
}

.introduction__spiel{
    display: inline-block;
    max-width: 30%;
    padding: 0rem 0rem 5rem 8rem;
    vertical-align: 13rem;
}

.section__title{
    margin: 0rem 0rem 0rem 0rem;
    
}

.introduction__product{
    margin: 0rem 0rem 0rem 10rem;
}
 

.products{
    background-color: #f7f7f7;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products__list{

    padding-bottom: 4rem;
}

.product-card{
    width:20rem;
    border-radius: 0.625rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin:2.50rem;
    overflow: hidden;
    

    
}

.product-card__text{
    display: flex;
    margin-top: 2rem;
    background-color:#fff0ed;
    justify-content: space-around;
    padding-bottom: 1.25rem;
}

.product-card__image{
    
    height: 13rem;
    width: 7rem;    
    display:block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    
}


.product-card__description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.product-card__name{
    margin: 1.25rem 0rem 0rem 0rem;
}
.product__serving-size{
    margin: 0rem;
    color: #909090;
}
.product-card__price{
    color:#5bacc3;
    font-size: 1.7rem;
    justify-self: flex-end;
    font-weight: 700;
}

.products__header{
    text-align: center;
}


.promo{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
}
.flex--horizontal{
    display: flex;
    justify-content: space-around;
}
.flex--vertical{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.promo__spinny-can{
    background-image: url("../assets/images/coldbrewbackground.png");
    background-size: 103%;
    padding: 2.5rem 6.25rem 2.5rem 6.25rem;

}
.beyblade:hover{
    animation: spinny-can 2s linear infinite ;

}
@keyframes spinny-can {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.promo__nothing-burger{
    width: 40%;
}

.promo__nothing-icons{
    display: flex;
    justify-content: space-between;
}

.promo__nothing-icons img{
    width: 3.125rem;
    padding-bottom: 1.25rem;
}

.promo-code__text{

   margin: 7.5rem 0rem 7.5rem 0rem;
    padding: 2.5rem;
    font-size: 2.8125rem;
    background-color: #393939;
    color: #ffffff;
}

.element--bold{
    font-weight: 700;
}

footer{
    background-color: #fff0ed;
    padding-bottom: 4rem ;
}

.contact-list{
    margin: auto auto auto 15rem
}
.contact{
    display:inline-block;
    margin-right: 10rem;
}

.contact__icon{
    width:3rem;
    height: auto;
}

.element--marginless{
    margin:0;
}
